:ruby
  attrs = %w(uuid gear_size available_capacity max_capacity)
  nodes = AdminConsole::Node.find_in_district(district)

%div.span6.tile-dark
  .tile.tile-click
    %h2.divide
      = link_to district.name, district_path(district.name)
    - attrs.each do |attr|
      %div
        %span= attr.to_s.upcase + ": "
        %span= district.send(attr)
    %h3.divide Nodes
    .row-fluid
      = render :partial => 'admin_console/node/tile', :collection => nodes, :as => :node
